@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://prismic.io/blog/nextjs-fonts */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ GRID STUFF -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.grid-rows-1fr3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-custom-rows {
  grid-template-rows: 0.33fr 0.55fr 0.17fr;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ FONTS  -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.iceland-prose {
  font-family: 'Iceland', sans-serif;
  color: white;
  line-height: 1.5;
  font-weight: 400;
}

.lexend-prose {
  font-family: 'Lexend Deca', sans-serif;
  /* ... */
}

.sixcaps-prose {
  font-family: 'Six Caps', sans-serif;
  /* ... */
}

.condiment-prose {
  font-family: 'Condiment', sans-serif;
  /* ... */
}
